body{

background: #f2825b;


}

#nav{

text-align:center;

}

#nav ul{

list-style:none;
border: 1px solid black; 
background:black;
color: white;
}

#nav ul li{

display:inline;
}
#tytul {
color: #365900;
font-family: helvetica, arial, sans-serif;
font-size: 120%;
text-align:center;

}
