body{

background: #f2825b;


}

#nav{
background:black;
color: white;
display: inline;
text-align:center;

}

#nav ul{

border: 1px solid black; 

}

#tytul {
color: #365900;
font-family: helvetica, arial, sans-serif;
font-size: 120%;
text-align:center;

}
